<div class="social-links">
{% if site.social.facebook %}	<a href="https://facebook.com/{{ site.social.facebook }}" target="_blank"><i class="btn btn-light fab fa-facebook-f fa-3x"></i></a> {% endif %}
{% if site.social.twitter %}	<a href="https://twitter.com/{{ site.social.twitter }}" target="_blank"><i class="btn btn-light fab fa-twitter fa-3x"></i></a> {% endif %}
{% if site.social.github %}		<a href="https://github.com/{{ site.social.github }}" target="_blank"><i class="btn btn-light fab fa-github-alt fa-3x"></i></a> {% endif %}
{% if site.social.linkedin %}	<a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank"><i class="btn btn-light fab fa-linkedin-in fa-3x"></i></a> {% endif %}
</div>