<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=3.0">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
		<link href="{{ site.url }}/assets/css/main.css" rel="stylesheet">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>		
		<script type="text/javascript" src="{{ site.url }}/assets/js/script.js"></script>
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
	</head>
	<body>
	{{ content }}	
	</body>
</html>
